<!DOCTYPE html>
<html>
<head>
<title>{{ .Site.Title }}: {{ .Title }}</title>
{{ partial "head.html" . }}
<style>
@import url('/galliard.css');
</style>
</head>
<body lang="en">
{{ partial "header.html" . }}

<h1>{{ .Title | safeHTML }}</h1>

{{ if (isset .Params "audio") }}
<audio controls>
<source src="{{ .Params.audio }}">
</audio>
{{ end }}

<article>
{{ .Content }}
</article>

{{ if (ne .Section "") }}
<p id="info">
{{ if (isset .Params "author") }}
<author>{{ .Params.author }}</author>
<br>
{{ end }}
{{ if (isset .Params "location") }}
{{ .Params.location }}
<br>
{{ end }}
<date>{{ .Date.Format "January 2, 2006" }}</date>
</p>
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
