<!DOCTYPE html>
<html>
<head>
<title>{{ .Site.Title }}: {{ .Title }}</title>
{{ partial "head.html" . }}
<style>
@import url('/galliard.css');
</style>
</head>
<body lang="en">
{{ partial "header.html" . }}

<h1>{{ .Title | safeHTML }}</h1>

{{ if (isset .Params "audio") }}
<audio controls>
<source src="{{ .Params.audio }}">
</audio>
{{ end }}

<article class="{{ .Section }}">
{{ .Content }}
</article>

{{ if (ne .Section "") }}
<div class="info">
{{ if (isset .Params "author") }}
<author><a href="{{ index .Site.Data.authlinks .Params.author }}">{{ .Params.author }}</a></author>
<br>
{{ end }}
{{ if (isset .Params "location") }}
{{ .Params.location }}
<br>
{{ end }}
<date>{{ .Date.Format "January 2, 2006" }}</date>
<ul class="tags">
{{ $baseurl := .Site.BaseURL }}
{{ range .Params.tags }}
<li><a href="{{ $baseurl }}tags/{{ . | urlize }}.html">{{ . }}</a></li>
{{ end }}
</ul>
</div>
{{ end }}

{{ if .Params.listtags }}
<ol id="tags">
{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
<li><a href="/tags/{{ $name | urlize }}.html">{{ $name }}</a></li>
{{ end }}
</ol>
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
