<!DOCTYPE html>
<html>
<head>
<title>{{ .Site.Title }}: {{ .Title }}</title>
{{ partial "head.html" . }}
<style>
@import url('/galliard.css');
</style>
</head>
<body lang="en">
{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<article>
<p>The page that you are attempting to load has not been found.
Generally, this means that you have followed a link to content 
that is no longer available or you have entered an incorrect
uniform resource locator (URL).</p>
<p>Sometimes, the pages will hide from you, however.
If this is the case, hold your hands up over your eyes,
move them away quickly, and shout, 
"Peek-a-boo!"
If the pages fail to reappear after this, then they
might have traveled to 
<a href="https://en.wikipedia.org/wiki/Uruguay">Uruguay</a>.</p>
<p>If you think you have ended up here by mistake, then please
check your ticket and gate number.</p>
</article>

{{ partial "footer.html" . }}
</body>
</html>
