<!DOCTYPE html>
<html>
<head>
<title>{{ .Site.Title }}</title>
{{ partial "head.html" . }}
<link rel="alternate" href="http://galliard.xyz/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
<style>
@import url('/galliard.css');
</style>
</head>
<body lang="en">
<h1 class="home">{{ .Site.Title }}</h1>

<article class="home">
<p>Welcome to <a href="/about.html">my website</a>.
This is where I write about things that interest me.
Hopefully, readers might occasionally find it interesting, too.
I write mostly about things that happen in my life: personal history,
music, software, travel, photography, and occasional forays into politics
(though I have to say that politics is a subject that should
generally be avoided, because it tends to overshadow
everything else that's useful or interesting).</p>
<p class="info">
<author><a href="/author/glen-campbell.html">Glen Campbell</a>
</author>
</p>
{{ range (where .Data.Pages "Section" "!=" "").GroupBy "Section" }}
    {{ $item := index $.Site.Data.sections .Key }}
    {{ if $item }}
        <h2><a href="{{ .Key }}.html">{{ index $item "title" }}</a></h2>
        <p>{{ index $item "description" }}</p>
        <ol class="index list">
        {{ range .Pages }}
        {{ .Render "item" }}
        {{ end }}
        </ol>
        <hr>
    {{ end }}
{{ end }}
<h2>Miscellaneous</h2>
<ol class="index list">
{{ range where .Data.Pages "Section" "==" "" }}
{{ .Render "item" }}
{{ end }}
</ol>
</article>

{{ partial "footer.html" . }}
</body>
</html>
