<!DOCTYPE html>
<html>
<head>
<title>{{ .Site.Title }}</title>
{{ partial "head.html" . }}
<link rel="alternate" href="http://galliard.xyz/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
<style>
@import url('/galliard.css');
h1 {
line-height: 50%;
margin-top: 2em;
}
</style>
</head>
<body lang="en">
<h1>{{ .Site.Title }}<hr></h1>

<ol id="index">
<!-- posts -->
<h2>Essays</h2>
{{ range where .Data.Pages "Section" "essay" }}
  {{ .Render "item"}}
{{ end }}
<h2>Other Categories</h2>
<li><a href="/k6gec.html" title="Ham radio posts">Ham Radio</a></li>
<li><a href="/podcast.html" title="My podcast">On Garner Road</a></li>
<li><a href="/project.html" title="Various projects">Software, Web Projects</a></li>
<!-- authors -->
<h2>Authors</h2>
{{ range where .Data.Pages.ByTitle "Section" "author" }}
  {{ .Render "item"}}
{{ end }}
<!-- site -->
<h2>Miscellaneous</h2>
{{ range where .Data.Pages.ByTitle "Section" "" }}
  {{ .Render "item"}}
{{ end }}
</ol>

{{ partial "footer.html" . }}
</body>
</html>
