body {
font-family:'ITC Galliard W01 Roman';
background: white;
color: black;
width: 44em;
max-width: 80%;
margin: auto;
}
/** gets rid of annoying fond advert **/
div#mti_wfs_colophon img {
display: none;
}
a {
text-decoration: none;
color: blue;
}
a:visited {
color: gray;
}
a:hover {
color: black;
text-decoration: underline;
}

header {
font-size: 14pt;
margin: 1em 0 1em 0;
border-bottom: 1px gray dotted;
text-align: right;
}
header a, header a:visited {
color: gray;
text-decoration: none;
}
header a:hover {
color: black;
text-decoration: none;
}
footer {
line-height: 140%;
font-size: 10pt;
margin: 3em 0 2em 0;
color: #ddd;
font-style: italic;
}
h1 {
font-weight: normal;
font-size: 36pt;
}
h2, h3, h4, h5, h6 {
margin-top: 2em;
margin-bottom: 1em;
}
article {
width: 36em;
line-height: 23pt;
margin: 2em 0 2em 0;
}
article p {
margin: 1em 0 1em 0;
}
article blockquote {
font-style: italic;
margin: 1em 3em 1em 3em;
}

ol#index {
list-style-type: none;
font-style: italic;
padding: 0;
margin: 0;
font-size: 15pt;
line-height: 21pt;
}
p#info {
font-style: italic;
margin-top: 2em;
font-size: smaller;
}
