body {
font-family:'ITC Galliard W01 Roman';
background: white;
color: black;
max-width: 40em;
font-size: 13pt;
margin: auto;
padding: 0 1em 0 1em;
-webkit-text-size-adjust: 100%;
}
/** gets rid of annoying fond advert **/
div#mti_wfs_colophon img {
display: none;
}
a {
text-decoration: none;
color: blue;
}
a:visited {
color: #555;
}
a:hover {
color: black;
text-decoration: underline;
}
a:active {
color: red;
text-decoration: none;
}
hr {
border: 0; 
height: 1px; 
background: #333; 
background-image: linear-gradient(to left, #ccc, #333, #ccc);
}
header {
font-size: 16pt;
line-height: 18pt;
margin: 1em 0 0 0;
}
header a, header a:visited, footer a, footer a:visited {
color: #333;
text-decoration: none;
}
header a:hover, footer a:hover {
color: black;
text-decoration: none;
}
header hr {
margin-top: 0;
}
footer {
clear: both;
line-height: 140%;
font-size: 10pt;
padding: 3em 0 2em 0;
color: #ddd;
}
footer a, footer a:visited {
color: #bbb;
}
h1 {
font-weight: normal;
font-size: 36pt;
}
h2, h3, h4, h5, h6 {
margin-top: 2em;
margin-bottom: .5em;
}
article {
line-height: 23pt;
margin: 2em 0 2em 0;
}
article p {
margin: 1em 0 1em 0;
}
article > p:first-child:first-letter {
float: left;
font-size: 56pt;
color: gray;
padding-right: 3px;
}
article blockquote {
font-style: italic;
margin: 1em 3em 1em 3em;
}
article img, article .flickr-embed {
text-align: center;
padding-left: auto;
padding-right: auto;
}
article.podcast img {
float: none;
}
sup, sub {
vertical-align: baseline;
position: relative;
top: -0.4em;
}
sub { top: 0.4em; }

ol#index, ol#tags {
list-style-type: none;
padding: 0;
margin: 0;
font-size: 16pt;
line-height: 24pt;
}
ol#tags li {
display: inline;
}
ol#tags li:after {
content: ", ";
}
ol#tags li:last-child:after {
content: ".";
}
.tags {
list-style-type: none;
padding: 0;
margin: 1em 0;
}
.tags:before {
content: "Tagged: ";
}
.tags li {
display: inline;
}
.tags li:after {
content: ", ";
}
.tags li:last-child:after {
content: ".";
}
.list {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
a:visited:before {
content: "\2713 ";
}
.info {
font-style: italic;
padding-top: 2em;
font-size: smaller;
clear: both;
}
.sidebar {
font-size: smaller;
background: #eee;
padding: 1em;
margin-left: 1em;
margin-bottom: 1em;
line-height: 150%;
float: right;
}
.sidebar a {
padding: 1px;
}
.sidebar a:hover {
background: white;
text-decoration: none;
color: black;
}
.sidebar ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.footnotes {
font-size: smaller;
line-height: 120%;
}
.right-menu {
float: right;
font-size: 9pt;
text-transform: uppercase;
}
.right-menu a {
padding-left: 2pt;
padding-right: 2pt;
}
.right-menu a.current-section {
color: black;
background: #eee;
}
.pull-right {
float: right;
padding-left: 1em;
}
.pull-left {
float: left;
padding-right: 1em;
}

@media print {
  .right-menu {
  display: none;
  }
}
